.mt5 {
    margin-top: 5px;
}

.mb5 {
    margin-bottom: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mb15 {
    margin-bottom: 15px;
}

.mt3 {
    margin-top: 3px;
}

@media (max-width: 768px) {
    .container {
        padding: 10px 5px;
    }

    .blog .blog-item .blog-content {
        padding: 10px;
    }
    
    /* Adds left margin to the logo when in mobile/tablet mode */
    .navbar-brand {
        margin-left: 10px;
    }

    /* Adds space between the navbar and the first blog entry when in mobile/tablet mode */
    #blog {
   	margin-top: 10px; 
    }
}
