{{ define "main" }}
<section id="term-list">
    <div class="border border-slate-300 md:rounded mt-6 bg-white p-6 text-slate-600">
        <div class="grid grid-cols-1 space-y-6">
            <div class="leading-relaxed">
                {{ .Type | singularize }}<h2 class="text-3xl capitalize"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                <div class="pt-1">
                    <ul class="p-1 border-t border-slate-200 list-none">
                        {{ range .Data.Pages.ByTitle }}
                        {{ $author := index $.Site.Data.authors ( .Params.authors | default "default") }}
                        <li class="mt-1">
                            {{ if $author }}<img class="rounded-full w-8 h-8 inline-block mr-2" src="{{ $author.avatar }}" alt="{{ $author.name }}"/>{{ end }}<a href="{{ .Permalink }}">{{ .Title }}<nobr><span class="text-slate-400 text-sm"> [{{ .Date | time.Format ":date_medium" }}]</span></nobr></a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
