---
layout: default
title: Home
nav: home
generator: pagination
pagination:
    max_per_page: 3
use:
    - posts
    - posts_tags
    - posts_categories
---
{% for post in page.pagination.items %}
<div class="blog-item">
    <!--<img class="img-responsive img-blog" src="{{ site.url }}/images/blog/blog2.jpg" width="100%" alt="" />-->
    <div class="blog-content">
        <h3><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h3>
        <div class="entry-meta">
            {% if post.authors %}
                {% set author_list = post.authors %}
                {% include 'author_list.twig' %}
            {% endif %}
            <span><i class="icon-folder-close"></i> {% for category in post.meta.categories %}
            <a href="{{ site.url }}/entries/categories/{{ category|url_encode(true) }}">{{ category }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}</span>
            <span><i class="icon-calendar"></i> {{ page.date|date('M d, Y') }}</span>
        </div>

        {{ post.blocks.content|raw }}

        <hr>

        <div class="tags">
            <i class="icon-tags"></i> Tags {% for tag in post.meta.tags %}
            <a class="btn btn-xs btn-primary" href="{{ site.doman }}{{ site.url }}/entries/tags/{{ tag|url_encode(true) }}">{{ tag }}</a>
            {% endfor %}
        </div>

    </div>


</div>

{% endfor %}
{% if page.pagination.previous_page or page.pagination.next_page %}
    <nav>
        {% if page.pagination.previous_page %}<a href="{{ site.url }}{{ page.pagination.previous_page.url }}">Newer Posts</a>{% endif %}<br />
        {% if page.pagination.next_page %}<a href="{{ site.url }}{{ page.pagination.next_page.url }}">Older Posts</a>{% endif %}<br />
    </nav>
{% endif %}
